*.pyc
dataComp/Authorization.json
dataComp/functANDtests/Py_R_test1.csv
dataComp/functANDtests/Authorization.json
dataComp/functANDtests/__pycache__/dataIO.cpython-35.pyc
dataComp/SequenceMatch.csv
dataComp/Vibrio_cholerae.txt
dataComp/functANDtests/task_test.py
*.RData
dataComp/.Rhistory
*.RData
*.Rproj
dataComp/.Rproj.user/*
dataComp/3point.csv
